// slick.css

/* Slider */

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus:not(:focus-visible) {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;

  & > div {
    padding: 0 10px;
  }
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

// 共用slick的a focus
.slick-slide {
  a {
    &:focus-visible {
      &:before {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 99;
        @include box-shadow(0px 0px 0px 2px $aFocus inset);
      }
    }
  }
}

// slick_theme.css

/* ---箭頭的樣式--- */
.slick-arrow {
  &::before {
    display: none;
  }
}

.prevSlider,
.nextSlider {
  font-size: 0em;
  line-height: 0em;
  position: absolute;
  // top: 40%;
  display: block;
  width: 48px !important;
  height: 48px !important;
  padding: 0 !important;
  min-width: auto;
  z-index: 2;
  top: 45%;
  cursor: pointer;
  border: solid 1px #8b8b8b;
  outline: none;
  box-shadow: none;
  transition: 0.3s ease-out;
  border-radius: 50%;
  &:hover {
    border: solid 1px $primaryColor;
  }
  &:focus-visible {
    outline: dashed 2px $aFocus;
  }
}

/* 上一則 位置 圖片*/

.prevSlider {
  left: 0;
  background: url('../images/slick/icon_arrow_left.svg') center center no-repeat RGBA(255, 255, 255, 0.9);
  background-size: 24px 24px;

  /* 箭頭 hover及focus 樣式 */
  &:hover,
  &:focus-visible {
    background: $primaryColor url('../images/slick/icon_arrow_left_inverse.svg') center center no-repeat;
    background-size: 24px 24px;
  }
  &:after {
    display: none;
  }
}

/* 下一則 位置 圖片*/

.nextSlider {
  right: 0;
  background: url('../images/slick/icon_arrow_right.svg') center center no-repeat RGBA(255, 255, 255, 0.8);
  background-size: 24px 24px;

  /* 箭頭 hover及focus 樣式 */
  &:hover,
  &:focus-visible {
    background: $primaryColor url('../images/slick/icon_arrow_right_inverse.svg') center center no-repeat;
    background-size: 24px 24px;
  }
  &:after {
    display: none;
  }
}

/* 沒有無限輪播時，滑到最兩邊資料時，箭頭暗掉 */

.slick-disabled {
  opacity: 0.25;
}

/* ---點的樣式---*/

// slick dots
.slick-dots {
  position: absolute;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 9;
  list-style: none;
  box-sizing: border-box;

  li {
    position: relative;
    padding: 0;
    cursor: pointer;

    button {
      font-size: 0em;
      line-height: 0em;
      display: block;
      cursor: pointer;
      border: 0;
      outline: none;
    }
  }
}

/* ---點的位置、大小、顏色---*/

.slick-dots {
  /* 位置距離 */
  bottom: 20px;

  li {
    /* 兩點的距離 */
    margin: 0 10px;

    button {
      /* 點的顏色 */
      background: #666;
      opacity: 0.4;
      width: 15px;
      height: 15px;
      border-radius: 50%;

      &:hover,
      &:focus {
        opacity: 1;
        /* 點hover的顏色 */
        background: #21baff;
      }

      &:focus {
        opacity: 1;
        /* 點focus的顏色 */
        background: #ff3e4d;
        // box-shadow: 0px 0px 0px 1px #ff3e4d; /* 讓focus過去的點大一些 */
      }
    }

    &.slick-active {
      button {
        opacity: 1;
        /* 點 active 的顏色 */
        background: $aHover;

        &::before {
          display: none;
        }

        &:hover {
          /* 點 active  hover的顏色 */
          background: #ff3e4d;
        }

        &:focus {
          /* 點 active  focus的顏色 */
          background: #ff3e4d;
        }
      }
    }
  }
}

// ---------slick._scss
// 首頁大圖輪播
.mpSlider {
  width: 100%;
  padding-bottom: 2em;
  margin-bottom: 2em;
  position: static;
  @include gutter(0);
  @include screen('mobile') {
    margin-top: 1em;
  }
  @include screen('xs_mobile') {
    padding-bottom: 1em;
  }
  .img-container {
    @include aspect-ratio(5, 2.3); //PC版比例
    @include screen('tablet') {
      @include aspect-ratio(5, 2.5); //Mobile版比例
    }
    @include screen('mobile') {
      @include aspect-ratio(5, 3); //Mobile版比例
    }
    .title {
      position: absolute;
      top: 28%;
      left: 6%;
      z-index: 1;
      font-size: 3em;
      font-weight: bold;
      letter-spacing: 5px;
      text-shadow: 1px 1px 2px rgba(255, 255, 255, 1);
      @include screen('mobile') {
        font-size: 2em;
        left: 10%;
      }
      @include screen('xs_mobile') {
        display: none;
      }
    }
    .inttxt {
      position: absolute;
      top: 35%;
      left: 6%;
      z-index: 1;
      font-size: 1.25em;
      line-height: 2em;
      font-weight: 500;
      text-shadow: 0px 0px 2px rgba(255, 255, 255, 1);
      @include screen('mobile') {
        font-size: 1em;
        left: 10%;
      }
      @include screen('xs_mobile') {
        display: none;
      }
    }
    .caption {
      position: absolute;
      width: 40%;
      height: 3em;
      line-height: 3em;
      background: rgba(255, 255, 255, 1);
      padding: 0 1rem 0 0;
      font-size: 1.5em;
      font-weight: bold;
      color: #1a1a1a;
      margin: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 2;
      text-align: left;
      @include text-overflow;
      box-sizing: border-box;
      @include screen('tablet') {
        width: 60%;
      }
      @include screen('mobile') {
        width: 100%;
        height: 3em;
        font-size: 1.125em;
        line-height: 2em;
        background: rgba(255, 255, 255, 0.8);
        left: 0;
        padding: 0 0.5em 0 1em;
      }
      @include screen('xs_mobile') {
        height: 2em;
      }
      p {
        margin: 0.4rem 0 0 5rem;
        padding: 0 20px 0 0;
        position: relative;
        z-index: 2;
        &:before {
          content: '';
          width: 32px;
          height: 32px;
          background: url(../images/arrow.svg) no-repeat center center;
          background-size: 20px auto;
          position: absolute;
          top: 0.8em;
          right: 0;
        }
        @include screen('mobile') {
          margin: 0.6rem 0 0 3rem;
          padding: 0 0.5rem 0 0;
          &:before {
            top: 0.3em;
            display: none;
          }
        }
        @include screen('xs_mobile') {
          margin: 0.15rem 0 0 3rem;
        }
      }
    }
  }

  .prevSlider {
    border: none;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.4);
    left: 5px;
    @media screen and (min-width: 768px) {
      top: auto;
      left: auto;
      bottom: 10%;
      right: calc(5% + 70px);
    }
  }

  .nextSlider {
    border: none;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.4);
    right: 5px;
    @media screen and (min-width: 768px) {
      top: auto;
      bottom: 10%;
      right: 5%;
    }
  }
  .swiper-pagination {
    width: 6em;
    position: absolute;
    bottom: 2.3em;
    text-align: left;
    transition: 0.3s opacity;
    transform: translate3d(0, 0, 0);
    z-index: 1;
    font-size: 1.3em;
    font-weight: 400;
    color: $primaryColor;
    font-family: 'Funnel Sans', sans-serif;
    .swiper-pagination-current {
      font-size: 1.5em;
    }
    .swiper-pagination-total {
    }
    @include screen('mobile') {
      bottom: 2.5em;
      left: 1rem;
      font-size: 1.125em;
      .swiper-pagination-current {
        font-size: 1.125em;
      }
    }
    @include screen('xs_mobile') {
      bottom: 1.15em;
    }
  }
}

//eventsSwiper
.eventsSwiper {
  margin: 1em 3% 1em;
  position: static;
  .swiper-slide {
    width: 100%;
    background: rgba(255, 255, 255, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      flex: 1 1 100%;
      padding: 1em;
      &:focus-visible {
        box-shadow: $aFocus 0 0 0 2px inset;
        outline: none;
      }
      &:hover {
        img {
          transform: scale(1.1);
        }
      }
    }
  }
  .img-container {
    @include aspect-ratio(1, 1); //比例
    border-radius: 6px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 1.5em;
  }
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
  }
  .caption {
    .sort1 {
      font-size: 1.25em;
      font-weight: bold;
      color: $primaryColor;
      margin: 0.2em 0;
      padding-right: 1em;
      position: relative;
      display: inline-block;
      &:before {
        content: '';
        width: 2px;
        height: 1em;
        background: lighten($primaryColor, 10);
        position: absolute;
        top: 0.1em;
        right: 0;
      }
    }
    .sort2 {
      font-size: 1.25em;
      font-weight: bold;
      color: $color-blue;
      margin: 0.2em 0;
      padding-right: 1em;
      position: relative;
      display: inline-block;
      &:before {
        content: '';
        width: 2px;
        height: 1em;
        background: lighten($color-blue, 10);
        position: absolute;
        top: 0.1em;
        right: 0;
      }
    }
    p {
      margin: 0.5em 0;
    }
  }
  @media screen and (min-width: 768px) {
    .prevSlider {
      top: 30px;
      left: auto;
      right: calc(7% + 60px);
    }
    .nextSlider {
      top: 30px;
      right: 7%;
    }
  }
}

//writerSwiper
.writerBlock {
  p {
    line-height: 2.2em;
    margin: 0 25% 3em 2em;
    @include screen('mobile') {
      margin: 0 1em 2em 2em;
    }
  }
  .more {
    text-align: right;
    margin: 1.5em 3% 2em;
    position: relative;
    a {
      display: inline-block;
    }
    &:before {
      content: '';
      width: calc(100% - 13em);
      height: 3px;
      background: #d1d1d1;
      position: absolute;
      left: 0;
      top: 2em;
      @include screen('mobile') {
        width: calc(100% - 13em);
      }
    }
    &:after {
      content: '';
      width: 10em;
      height: 3px;
      background: $primaryColor;
      position: absolute;
      left: 18%;
      top: 2em;
      @include screen('mobile') {
        width: 5em;
        left: 10%;
      }
    }
  }
  @include screen('xs_mobile') {
    margin: 0 5%;
  }
}
.writerSwiper {
  margin: 1em 3% 1em;
  position: static;
  .swiper-slide {
    width: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      flex: 1 1 100%;
      padding: 1em;
      background: #fff;
      &:focus-visible {
        box-shadow: $aFocus 0 0 0 2px inset;
        outline: none;
      }
      &:hover {
        img {
          transform: scale(1.1);
        }
      }
    }
  }
  .img-container {
    @include aspect-ratio(1, 1.12); //比例
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    margin-bottom: 1.5em;
    background: #e4e4e4;
    transition: 0.3s;
    &:hover {
      clip-path: none;
      border-radius: 50%;
    }
  }
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
  }
  .caption {
    .authorName {
      font-size: 1.25em;
      font-weight: bold;
      margin: 2em 0 0.8em;
      text-align: center;
    }
    p {
      margin: 0.5em 0;
      line-height: 1.6em;
    }
  }
  .prevSlider {
    top: 50%;
    // @include screen('mobile') {
    //   top: 51%;
    // }
    @include screen('xs_mobile') {
      top: 54%;
    }
  }
  .nextSlider {
    top: 50%;
    @include screen('xs_mobile') {
      top: 54%;
    }
  }
  @media screen and (min-width: 768px) {
    .prevSlider {
      top: 100px;
      left: auto;
      right: calc(7% + 60px);
    }
    .nextSlider {
      top: 100px;
      right: 7%;
    }
  }
}

//collectionSwiper
.collectionBlock {
  background: url(../images/collection_bg.jpg) no-repeat left bottom;
  background-size: cover;
  padding: 3em 0 3em;
}
.collectionSwiper {
  margin: 1em 3% 1em;
  position: static;
  .swiper-slide {
    width: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      flex: 1 1 100%;
      padding: 1em;
      &:focus-visible {
        box-shadow: $aFocus 0 0 0 2px inset;
        outline: none;
      }
      &:hover {
        img {
          transform: scale(1.1);
        }
      }
    }
  }
  .img-container {
    @include aspect-ratio(3.9, 5); //比例
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.6);
    margin-bottom: 0;
  }
  .swiper-slide {
    background: transparent;
  }
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
  }
  .caption {
    p {
      margin: 0.5em 0;
    }
  }
  .prevSlider {
    top: 55%;
  }
  .nextSlider {
    top: 55%;
  }
  @media screen and (min-width: 768px) {
    .prevSlider {
      top: 30px;
      left: auto;
      right: calc(7% + 60px);
    }
    .nextSlider {
      top: 30px;
      right: 7%;
    }
  }
}

// adSlider
.adSlider {
  @include gutter(70px);
  margin-bottom: 20px;

  @include screen('mobile') {
    @include gutter();
  }

  .prevSlider {
    background: url(../vendor/slick/icon_arrow_left_inverse.png) no-repeat center center;
    background-size: 80%;
    left: -15px;
  }

  .nextSlider {
    background: url(../vendor/slick/icon_arrow_right_inverse.png) no-repeat center center;
    background-size: 80%;
    right: -15px;
  }

  .img-container {
    width: 165px;
    height: 55px;
    margin: 0px 15px;

    a {
      display: block;
      text-align: center;

      img {
        margin: 0 auto;
      }
    }

    &:focus {
      &:before {
        content: '';
        position: absolute;
        z-index: 9;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        box-shadow: 0 0px 0px 3px $primaryColor inset;
      }
    }
  }
}

//  slick燈箱
.lightbox_slider {
  h3 {
    font-size: 1.5em;
    padding: 12px 0px 15px 0px;
    margin: 0.5em 0px 1.2em;
    border-bottom: 1px solid $primaryColor;
  }

  background: #fff;
  padding: 1em 0;
  clear: both;

  .cp_slider {
    @include gutter;
  }

  .img-container {
    margin: 0px 15px;
    @include aspect-ratio(4, 3);
    overflow: hidden;

    img {
      object-fit: contain;
    }
  }

  .caption {
    padding: 0.5em !important;
    position: absolute;
    background: rgba(0, 0, 0, 0.75) !important;
    color: #fff;
    bottom: -2em !important;
    left: 0;
    font-size: 0.938em !important;
    height: 2em !important;
    line-height: 1 !important;
    width: 100%;
    @include text-overflow;
    transition: 0.3s ease-out;
  }

  // dots
  .slick-dots {
    bottom: -30px !important;

    @include screen('mobile') {
      bottom: -40px !important;
      padding: 0;
    }

    li {
      width: 10px;
      height: 10px;
      margin: 0 10px;
    }
  }

  //Arrows
  .prevSlider {
    left: calc(-1 * $grid-gutter-width/2);
  }

  .nextSlider {
    right: calc(-1 * $grid-gutter-width/2);
  }

  a {
    color: #555;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &:hover,
    &:focus {
      .caption {
        bottom: 0 !important;
      }
    }
  }
}

//
// slick燈箱
.lightbox_slider_block {
  h3 {
    font-size: 1.5em;
    padding: 12px 0px 15px 0px;
    margin: 0.5em 0px 1.2em;
    border-bottom: 1px solid $primaryColor;
  }

  background: #fff;
  padding: 1em 0;
  clear: both;

  .cppic_slider {
    // @include gutter;
    position: relative;
    padding: 0 40px;
  }

  .img-container {
    // margin: 0px 15px;
    @include aspect-ratio(4, 3);
    overflow: hidden;

    img {
      object-fit: contain;
    }
  }

  .caption {
    padding: 0.5em !important;
    position: absolute;
    background: rgba(0, 0, 0, 0.75) !important;
    color: #fff;
    bottom: -2em !important;
    left: 0;
    font-size: 0.938em !important;
    height: 2em !important;
    line-height: 1 !important;
    width: 100%;
    @include text-overflow;
    transition: 0.3s ease-out;
  }

  // dots
  .slick-dots {
    bottom: -60px;

    li {
      width: 15px;
      height: 15px;
      margin: 0 10px;
    }
  }

  //Arrows
  .prevSlider {
    // left: -1 * $grid-gutter-width/2;
    left: 00px;
    // top: 35%;
  }

  .nextSlider {
    // right: -1 * $grid-gutter-width/2;
    right: 0px;
    // top: 35%;
  }

  a {
    color: #555;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &:hover,
    &:focus {
      .caption {
        bottom: 0 !important;
      }
    }
  }
}

/*  slick-lightbox  */

.slick-lightbox {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 999999;
  width: 100%;
  height: 100%;
  background: black;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;

  .slick-loading .slick-list {
    background-color: transparent;
  }

  .prevSlider {
    left: 5px;
    background: url(../vendor/slick/icon_arrow_left.png) center center no-repeat;
    background-size: 80%;
    z-index: 9;
  }

  .nextSlider {
    right: 5px;
    background: url(../vendor/slick/icon_arrow_right.png) center center no-repeat;
    background-size: 80%;
    z-index: 9;
  }
}

.slick-lightbox-hide {
  opacity: 0;

  &.slick-lightbox-ie {
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    filter: alpha(opacity=0);
  }
}

.slick-lightbox-hide-init {
  position: absolute;
  top: -9999px;
  opacity: 0;

  &.slick-lightbox-ie {
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    filter: alpha(opacity=0);
  }
}

.slick-lightbox-inner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slick-lightbox-slick-item {
  text-align: center;
  overflow: hidden;

  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
  }
}

.slick-caption-bottom .slick-lightbox-slick-item .slick-lightbox-slick-item .slick-lightbox-slick-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}

.slick-caption-dynamic .slick-lightbox-slick-item .slick-lightbox-slick-item .slick-lightbox-slick-caption {
  display: block;
  text-align: center;
}

.slick-lightbox-slick-item-inner {
  display: inline-block;
  vertical-align: middle;
  max-width: 90%;
  max-height: 90%;
}

.slick-lightbox-slick-img {
  margin: 0 auto 1em;
  display: block;
  max-width: 90%;
  max-height: 90%;
}

.slick-lightbox-slick-caption {
  margin: 20px 0 0;
  color: white;
  @extend %clearfix;
}

.slick-lightbox-close {
  position: fixed;
  top: 10px;
  right: 10px;
  display: block;
  height: 45px;
  width: 45px;
  line-height: 0;
  font-size: 0em;
  cursor: pointer;
  background: transparent;
  color: transparent;
  padding: 0;
  border: none;
  min-width: auto;

  &:focus {
    outline: none;
  }

  &:before {
    content: '';
    height: 6px;
    width: 32px;
    transform: rotate(45deg);
    position: absolute;
    top: 18px;
    background: #ddd;
    left: 6px;
    transition: 0.3s all ease-out;
  }

  &:after {
    content: '';
    height: 6px;
    width: 32px;
    transform: rotate(-45deg);
    position: absolute;
    top: 18px;
    background: #ddd;
    left: 6px;
    transition: 0.3s all ease-out;
  }

  &:hover,
  &:focus {
    background: none;
    margin-top: 0;
    border: none;

    &:before,
    &:after {
      background: #fff;
    }
  }
}

//  同步輪播
.Syncing_slider {
  @extend %clearfix;
  position: relative;

  h3 {
    font-size: 1.5em;
    padding: 12px 0px 15px 0px;
    margin: 0.5em 0px 1.2em;
    border-bottom: 1px solid $primaryColor;
  }

  .slick-slide {
    position: relative;
  }

  .controls {
    text-align: center;
    font-weight: bold;
    max-width: 100px;
    color: #fff;
    padding: 0.2em 0.5em;
    margin: 0px auto;
    background: $primaryColor;
    border-radius: 20px;
    text-shadow: 1px 1px 2px RGBA(0, 0, 0, 0.8);
  }

  .item {
    position: relative;
  }

  .img-container {
    @include aspect-ratio(16, 9);

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      object-fit: cover;
    }
  }

  p {
    position: absolute;
    background: RGBA(0, 0, 0, 0.55);
    text-align: center;
    color: #fff;
    padding: 0.5em;
    box-sizing: border-box;
    @include text-overflow;
    bottom: 0px;
    width: 100%;
    height: 2.5em;
    line-height: 1.5em;
    margin: 0px;
    z-index: 2;

    @include screen('mobile') {
      display: none;
    }
  }

  .nextSlider {
    background: url(../vendor/slick/icon_arrow_right.png) center center no-repeat;
    background-size: 80%;

    @include screen('mobile') {
      right: 0.5em;
    }
  }

  .prevSlider {
    background: url(../vendor/slick/icon_arrow_left.png) center center no-repeat;
    background-size: 80%;

    @include screen('mobile') {
      left: 0.5em;
    }
  }

  .Slider-for {
    width: 80%;
    min-width: 260px;
    max-width: 800px;
    margin: 1em auto;
    position: relative;
  }

  .Slider-nav {
    width: 80%;
    min-width: 260px;
    max-width: 800px;
    margin: 1em auto;
    position: relative;

    .img-container {
      p {
        display: none;
      }
    }

    /*正在動作的縮圖*/
    .slick-slide.slick-current {
      opacity: 1;
    }

    position: relative;
  }

  .slick-dots {
    display: none !important;
  }
}
