.thumbnail {
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.15);
  background: #fff;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  transition: all 0.3s ease;
  &:hover {
    box-shadow: 0 12px 2em -1em rgba(0, 0, 0, 0.5);
  }

  a {
    display: block;
    @include aSetting(#333);
    position: relative;
    &:focus {
      &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        box-shadow: 0px 0px 0px 1px $aHover inset;
      }
    }
  }
  .img-container {
    @include aspect-ratio(4, 2.8);
    margin-bottom: 0.5em;
    iframe {
    }
  }
  h2,
  h3,
  h4 {
    margin: 1.2rem 1rem 0.8rem 0;
    color: $primaryColor;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .caption {
    width: 85%;
    margin: 0 auto;
    padding-bottom: 1em;
    // width: calc(33.33% - 16px); // ＊＊＊補這行，單行的文字刪節效果才會有效
  }
  p {
    line-height: 1.8em;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
  .lineclamp5 {
    line-height: 1.8em;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
  }
  .btn_grp {
    padding: 0.2em 0;
    @extend %clearfix;
  }
  hr {
    width: 100%;
    margin: 0.1em auto 1em;
  }
  ul {
    @include li-reset;
    font-size: 1.125em;
    font-weight: 500;
    li {
      margin: 0.4em 0;
    }
  }
}

.flex-equal-4 {
  .Flex-set {
    align-items: stretch;
  }
  .typeList {
    .Flex-set {
      align-items: flex-start;
    }
    .thumbnail {
      margin-bottom: 30px;
      @include flex-xs-equal(1, 0px);
      @include flex-sm-equal(1, $m-gutter);
      @include flex-md-equal(1, $m-gutter);
      @include flex-lg-equal(1, $m-gutter);
      @include screen('mobile') {
        justify-content: center;
      }
      a {
        display: flex;
        width: 100%;
        // align-items: flex-start;
      }
      .img-container {
        flex: 0 0 30%;
        max-width: 300px;
        margin: 0;

        @media screen and (max-width: 767px) {
          flex: 0 0 40%;
          max-width: 40%;
          img {
            object-fit: cover;
          }
        }
      }
      .caption {
        flex: 1 1 calc(100% - 30%);
        width: auto;
        padding: 1em 2em 0;
        @media screen and (max-width: 767px) {
          padding: 0 1em;
          width: 60%;
        }
      }
    }
    @media (min-width: 992px) {
      .thumbnail:last-child:nth-child(4n-1) {
        margin-right: 0;
      }
      .thumbnail:last-child:nth-child(4n-2) {
        margin-right: 0;
      }
      .thumbnail:last-child:nth-child(4n-3) {
        margin-right: 0;
      }
    }
  }
}
